*{
  margin:0;
  padding:0;
  border: none;
  }
  .App{
    display: flex;
    /* width: 300px; */
    height: auto;
    margin: auto;
    flex-direction: column;
    background-color:azure;
    justify-content: center;
    margin-top: 120px;
  }
body{
  background-color: lightgray;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  align-items: center;
  margin-top: 4vh;
  height: auto;
  width: 300px;
}
h1{
   margin-left: 14px ;
   margin-top: 5px;
   text-decoration: underline;
   text-align:start;
   color:rgb(235, 141, 110)
}
  input{
    height: 4rem;
    width: 28vw; 
   background-color: lightgray;
   border-radius: 2px;
   border: none;
  }
  p{
    margin-top: 1rem;
    margin-left: 2.5rem; 
   }
  span{
    position: absolute;
    display: flex;
  }
  .field{
    display: flex;
  }
  button{
    background-color:rgb(235, 141, 110) ;
    height: 5rem;
    width: 30vw;
  }
  #inputs{
    margin-left: 15px;
  }